<launch>

  <node pkg="remyJr" name="sonar_watcher1" type="sonar_watch.py" respawn="true"/>
  <node pkg="remyJr" name="imu_watcher1" type="imu_watch.py" respawn="true"/>
  <node pkg="remyJr" name="bump_watcher" type="bump_watch.py" respawn="true"/>
  <node pkg="remyJr" name="tof_watcher1" type="tof_watch.py" respawn="true"/>
  <node pkg="remyJr" name="sensor_monitor" type="sensor_monitor.py" required="true"/>

</launch>
