<launch>
  <machine 
    name="remy-jr"
    address="10.42.0.27"
    env-loader="/home/pi/catkin_ws/env.sh"
    user="pi" 
    password="raspberry" 
    timeout="11"
  /> 


  <node machine="remy-jr" pkg="remyJr" name="sonar_watcher1" type="sonar_watch.py" respawn="true"/>
  <node machine="remy-jr" pkg="remyJr" name="imu_watcher1" type="imu_watch.py" respawn="true"/>
  <node machine="remy-jr" pkg="remyJr" name="tof_watcher1" type="tof_watch.py" respawn="true"/>
  <node machine="remy-jr" pkg="remyJr" name="bump_skirt_watcher" type="bump_watch.py" respawn="true"/>
  <node machine="remy-jr" pkg="remyJr" name="motors" type="control_motors.py" respawn="true"/>
  <node machine="remy-jr" pkg="remyJr" name="nook_watcher" type="nook_watch.py" required="true"/>

  <node pkg="remyJr" name="graphics_calc" type="graphics_queue.py" respawn="true" />
  <node pkg="remyJr" name="brain1" type="brain.py" respawn="true"/>
  <node pkg="remyJr" name="sensor_monitor" type="sensor_monitor.py" required="true"/>
  <node pkg="remyJr" name="graphs" type="graphics.py" respawn="true" />

</launch>
